@{
    ViewData["Title"] = "Дистанционное образование";
}

<div class="row">
    <div class="col-md-6">
        <h2>Курс АСУ ЭТО</h2>
            <p>Трофимов А. В.</p>
            <p>Автоматизированные системы управления электротехническим оборудованием (АСУ ЭТО) электростанций и подстанций.</p>
            <p>Занятия проводятся на учебно – исследовательском полигоне АСУ ЭТО кафедры оснащенном современными микропроцессорными интеллектуальными устройствами различных производителей.</p>
    </div>
</div>
