@{
    ViewData["Title"] = "Сотрудники кафедры";
}

<div class="row">
    <div class="col-md-6">
        <ul>
            <li>АНТОНОВ Андрей Анатольевич</li>
            <li>АСАИНОВ Данил Нуритдинович</li>
            <li>ВОЛКОВ Максим Сергеевич</li>
        </ul>
    </div>
</div>
