@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Программные разработки";
}

<div class="row">
    <div class="col-md-6">
        <h2>Новые программы для Windows</h2>
        <ul>
            <li>GuTestAC</li>
            <li>GuCables</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Программы для MS DOS</h2>
        <ul>
            <li>GuFaults</li>
            <li>GuExpert</li>
            <li>GuDCSets</li>
            <li>GuSelect</li>
            <li>GuChoice</li>
            <li>GuMotors</li>
        </ul>
    </div>
</div>