@{
    ViewData["Title"] = "О нашей кафедре";
}

<div class="row">
    <div class="col-md-6">
        <h2>История нашей кафедры</h2>
        <p>Кафедра "Электрические станции" образована в МЭИ в 1932 году и готовит бакалавров, инженеров-электриков и магистров широкого профиля, являясь базовой в рамках электроэнергетического образования.</p>
        <p> Научные направления, во многом определяющие современное содержание и качество учебного процесса, закладывались такими известными учеными и педагогами как Сушкин Н.М., Круг К.А., Поливанов М.К., Телешев В.А., Лебедев С.А., Жданов П.С., Глазунов А.А., Ульянов С.А., Сыромятников И.А., Соколов Н.И.
Позднее, большую роль в развитии кафедры сыграли преподаватели: профессора Неклепаев Б.Н., Церазов А.Л., Крючков И.П.; доценты Кузнецов Ю.П., Морозова Ю.А., Наяшкова Е.Ф., Околович М.Н., Полевая И.В.</p>
    </div>
</div>
